<!DOCTYPE html>
<html lang="en">
<head>
    <title>阿畦商城</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Styles.Render("~/Content/vendor")
</head>
<body>
    <!--Header-->
    <!--Body-->
    @RenderBody()
    <!--Footer-->

    
</body>
</html>
