@model EmployeeViewModel
@{
    var employees = Model.Employee;
}


<style>
    .field {
        padding-top: 1.3em;
    }

    input {
        width: 100%;
    }

    label {
        width: 6em;
    }

    .col-sm-12 {
        margin-bottom: 2em;
    }
</style>

@using (Html.BeginForm("UpdateEmployee", "R7CompanyEmployees"))
{
    <div class="row">
        <div id="display" class="col-sm-12 mb-2">
            <input name="EmployeeID" value="@ViewBag.EmployeeID" hidden />
            <div class="field">
                <label>員工姓名: </label>
                <input name="Name" value="@employees.Name" type="text" /><br />
            </div>
            <div class="field">
                <label>電話: </label>
                <input name="Phone" value="@employees.Phone" type="text" /><br />
            </div>
            <div class="field">
                <label>E-Mail: </label>
                <input name="Email" value="@employees.Email" type="text" /><br />
            </div>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary" type="submit">儲存</button>
            <a href=@Url.RouteUrl(new { Controller = "R7CompanyEmployees", Action = "EmployeeList" })>
                <button class="btn btn-danger cancelBtn">取消</button>
            </a>
        </div>
    </div>
}
