@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/CompanyLayout.cshtml";
}

<div class="row">   
    <div class="col-4">
        <label>帳號: </label>&nbsp;
        <input type="text" placeholder="Account" /><br />
        <label>密碼: </label>&nbsp;
        <input type="password" placeholder="Password" /><br />
        <button>Log in</button>
    </div>
</div>